{% extends 'base_generic.html' %}

{% block content %}
<h1>گزارش تراکنش‌های سراف: {{ saraf.user }}</h1>
<table>
    <thead>
        <tr>
            <th>تاریخ</th>
            <th>دریافتی</th>
            <th>پرداختی</th>
            <th>بدهی شرکت</th>
            <th>تراز</th>
            <th>ارز</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
        <tr>
            <td>{{ transaction.transaction_time }}</td>
            <td>{{ transaction.received_from_saraf }}</td>
            <td>{{ transaction.paid_by_company }}</td>
            <td>{{ transaction.debit_company }}</td>
            <td>{{ transaction.balance }}</td>
            <td>{{ transaction.currency }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}