{% extends 'container/container_base.html' %}
{% load static %}
{% block title %}گزارش کل تراکنش‌ها{% endblock %}
{% block content %}
<h3>گزارش کلی تراکنش‌ها</h3>



<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>وضعیت فروش</th>
      <th>وضعیت حمل</th>
      <th>وضعیت پرداخت</th>
      <th>جمع مبلغ</th>
    </tr>
  </thead>
  <tbody>
    {% for row in report %}
      <tr>
        <td>{{ row.sale_status }}</td>
        <td>{{ row.transport_status }}</td>
        <td>{{ row.payment_status }}</td>
        <td>{{ row.total_amount|floatformat:2 }}</td>
      </tr>
    {% empty %}
      <tr><td colspan="4" class="text-center">هیچ داده‌ای یافت نشد</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
