{% extends 'accounts_base.html' %}
{% block content %}

<div class="col-md-6 offset-md-3">
  <h1>about US</h1>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    Impedit nulla, tenetur quo voluptates nemo voluptas, ad numquam quisquam accusantium consequuntur deleniti corporis
    maxime itaque mollitia cupiditate iusto aliquid voluptate velit? Repellendus debitis aliquid cumque perferendis vero
    deserunt, sit reprehenderit
    temporibus repellat adipisci inventore iste, impedit ad dolorum placeat! Necessitatibus, maxime.</p>

  <a href="{% url 'accounts:home' %}" class="btn btn-secondary">Back</a>
</div>

{% endblock %}