{% extends "accounts_base.html" %}
{% load i18n %}
{% load static %}

{% block title %}Business Dashboard{% endblock %}
{% block content %}
<div class="timeline-item">
    <h4>Lorem ipsum dolor sit.</h4>
    <p>Lorem ipsum dolor sit amet consectetur,
        adipisicing elit. Commodi ab aliquid quis aperiam, laudantium laboriosam aut,
        vel excepturi quae enim, animi sint recusandae assumenda deserunt nesciunt dicta
        laborum quo inventore! Quas necessitatibus ex natus provident beatae quibusdam deleniti quos recusandae
        pariatur optio. Veritatis id consequuntur unde sit labore, voluptatibus culpa, perspiciatis quae consequatur
        placeat quasi tempora vero aut, officiis recusandae aperiam quis! Nesciunt vitae alias nulla eos reprehenderit
        quasi illo cupiditate officia quam natus. Nesciunt laboriosam
        commodi non blanditiis officia ducimus alias, praesentium nam, rerum repellat cum pariatur quaerat qui.
    </p>

</div>
{% endblock %}