{% extends "accounts_base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans 'update personal information' %}{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mb-4">{{ _('Update Your Information') }}</h2>
            <form method="POST" class="form">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.phone }}
                </div>
                <div class="form-group">
                    {{ form.address1 }}
                </div>
                <div class="form-group">
                    {{ form.address2 }}
                </div>
                <div class="form-group">
                    {{ form.city }}
                </div>
                <div class="form-group">
                    {{ form.country }}
                </div>
                <button type="submit" class="btn btn-primary w-100">{{ _('Update Information') }}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}