{% extends 'containers/container_base.html' %}
{% block title %}Containers — list{% endblock %}
{% block content %}
<div class="container py-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="h4">containers</h1>
    <div>
      <a href="{% url 'containers:inventory_add' %}" class="btn btn-primary">Add product in to Inventory</a>
      <a href="{% url 'containers:container_add' %}" class="btn btn-outline-primary">Add new Container</a>
    </div>
  </div>

  <table class="table table-hover table-sm">
    <thead>
      <tr>
        <th>container number</th>
        <th>name</th>
        <th>Company</th>
        <th>Item_Quantity</th>
      </tr>
    </thead>
    <tbody>
      {% for c in containers %}
      <tr>
        <td><a href="{% url 'containers:detail' c.id %}">{{ c.container_number }}</a></td>
        <td>{{ c.name }}</td>
        <td>{{ c.company.name if c.company }}</td>
        <td>{{ c.products_count|default:0 }}</td>
        <td>{{ c.total_in_stock_qty|default:0 }}</td>
        <td>{{ c.total_inventory_value|default:0 }}</td>
        <td>
          <a class="btn btn-sm btn-outline-secondary" href="{% url 'containers:container_financial' c.id %}">گزارش
            مالی</a>
          <a class="btn btn-sm btn-outline-info" href="{% url 'containers:detail' c.id %}">جزئیات</a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="7">Empty</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if is_paginated %}
  <nav aria-label="Page navigation">
    <ul class="pagination">
      {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">قبلی</a></li>
      {% endif %}
      <li class="page-item active"><span class="page-link">{{ page_obj.number }}</span></li>
      {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">بعدی</a></li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
</div>
{% endblock %}