{% extends 'containers/container_base.html' %}
{% block title %}Add Inventory Item{% endblock %}
{% block content %}
<div class="container py-4">
    <form method="post" novalidate>
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>container</label>
                {{ form.container|as_widget(attrs={'class':'form-control'}) }}
                <small class="form-text text-muted">
                    If empty<a href="{% url 'containers:container_add' %}">Add nwe container</a>.
                </small>
            </div>
            <div class="form-group col-md-6">
                <label>code</label>
                {{ form.code|as_widget(attrs={'class':'form-control'}) }}
            </div>
        </div>

        <div class="form-group">
            <label>product name</label>
            {{ form.product_name|as_widget(attrs={'class':'form-control'}) }}
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <labe>In stock quantity</label>
                    {{ form.in_stock_qty|as_widget(attrs={'class':'form-control'}) }}
            </div>
            <div class="form-group col-md-4">
                <label>price</label>
                {{ form.unit_price|as_widget(attrs={'class':'form-control'}) }}
            </div>
            <div class="form-group col-md-4">
                <label>Total price</label>
                {{ form.price|as_widget(attrs={'class':'form-control'}) }}
            </div>
        </div>

        <div class="form-group">
            <label>description</label>
            {{ form.description|as_widget(attrs={'class':'form-control','rows':3}) }}
        </div>

        <button class="btn btn-primary" type="submit">save</button>
        <a href="{% url 'containers:container_list' %}" class="btn btn-light">cancel</a>
    </form>
</div>
{% endblock %}